@use 'fonts';
@use 'code';

body {
  font-family: 'Oxygen', 'Noto Sans SC', sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  max-width: min(80rem, calc(100% - 2rem));
}

img {
  max-width: 100%;
}

code {
  font-family: 'Hack', monospace;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
  color: #00A0C6;
  text-decoration: underline;
  cursor: pointer;
}

nav a {
  margin: 0.2rem;
}

header, footer {
  text-align: center;
}

hgroup {
  text-align: center;
}

hr {
  border: none;
  height: 1px;
  background-color: #b4b4b4;
}

p {
  font-size: 1.1rem;
}

ul li {
  text-align: left;
  font-size: 1.1rem;
}

section {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  p {
    text-align: left;
  }
  ul {
    li {
      margin-left: -1rem;
    }
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.centered-text {
  text-align: center;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.light-header {
  color: #4d4c4c;
}

article {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .main-body {
    h1, h2, h3, h4, h5, h6 {
      text-align: left;
    }
    p {
      text-align: left;
    }
    ul {
      margin-top: -0.9rem;
      li {
        margin-left: -1rem;
      }
    }
  }
}
