{% extends "base.html" %}
{% block title %}About{% endblock title %}
{% block content %}
<section>
  <h2>About this website</h2>
  <div class="centered">
    <p class="centered-text">
      This website is by Waterlens for him to have a place to write whatever stupid <del>or smart</del>.<br>
      It's not guaranteed that the content on this website is correct or useful.<br>
      If you find any mistakes, please contact me via email:<br>
      <code>waterlens at waterlens.moe</code>
    </p>
  </div>
</section>
<section>
  <h2>About me</h2>
  <div class="centered">
    <p>I'm a postgraduate student who is interested in the following topics:</p>
    <ul>
      <li>Compiler construction and optimization.</li>
      <li>Programming language theory.</li>
      <li>Computer architecture.</li>
    </ul>
    <p>I like to write toy projects but most of them have not been done yet.</p>
  </div>
</section>
<p class="centered">
  You are visiting this website via {{ util::checkedBaseURL() }}
</p>
{% endblock content %}