@font-face {
  font-style: normal;
  font-family: "Waterlens SansSerif";
  font-display: swap;
  src:
      local("Open Sans"),
      local("-apple-system"),
      local("BlinkMacSystemFont"),
      local("Helvetica Neue"),
      local("Roboto"),
      local("sans-serif");
};

@font-face {
  font-style: normal;
  font-family: "Waterlens Mono";
  font-display: swap;
  src:
      local("Hack"),
      local("Inconsolata"),
      local("Consolas"),
      local("Monaco"),
      local("Menlo"),
      local("Andale Mono"),
      local("Ubuntu Mono"),
      local("Courier"),
      local("monospace");
};
