<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="max-width mx-auto px3 ltr">
  <div class="content index py4">

    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
</body>

<script defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      onerror="this.onerror=null; this.href={{ "lib/font-awesome/js/all.min.js" | relURL }};"></script>
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      onerror="this.onerror=null; this.src={{ "lib/jquery/jquery.min.js" | relURL }}"></script>
<script src={{ "js/main.js" | relURL }}></script>
</html>
