{% extends "post-zh.html" %}
{% block title %}如何拥有个性化的（仅接收）电子邮件域名{% endblock title %}
{% block header %}
<header>
  <h1><a href=".">如何拥有个性化的（仅接收）电子邮件域名</a></h1>
  <h2 class="light-header">无用但有趣的事（一）</h2>
</header>
{% endblock header %}
{% block content %}
<div class="main-body">
  <p>本人经常使用 <code>waterlens at waterlens.moe</code> 这样的电子邮件地址用于网上交流和注册杂七杂八的网站账户。本文将试图教会你如何获得这样一个个性化的邮件域名</p>
  <section>
    <h2 id="获得一个域名"><a href="#获得一个域名">获得一个域名</a></h2>
    <p>首先，你需要一个域名，这也是本篇文章中你唯一需要爆米的地方。我只用过 Namesilo 或者 Cloudflare。我推荐使用 Cloudflare，因为它的界面更加简洁，而且它的域名价格更加便宜。</p>
  </section>
  <section>
    <h2 id="修改域名的名称服务器"><a href="#修改域名的名称服务器">修改域名的名称服务器</a></h2>
    <p>在购置完域名后，无论域名提供商是什么，本文都需要使用 Cloudflare 提供的服务来自定义邮件域名。因此需要确保：</p>
    <ul>
      <li>将域名添加到 Cloudflare 的账户</li>
      <li>在域名提供商的管理面板上将你刚刚购买的域名的名称服务器（DNS 服务器）修改成 Cloudflare 提供的那两个（如 <code>dexter.ns.cloudflare.com</code> 和 <code>fatima.ns.cloudflare.com</code>）</li>
    </ul>
  </section>
  <section>
    <h2 id="电子邮件路由"><a href="#电子邮件路由">电子邮件路由</a></h2>
    <p>
      使用自购域名 + 自购服务器，其实是可以直接搭建一个邮件服务器的。但是这样会有很多问题，如果你的服务器出现故障，那么你的邮件服务就会中断。如果你的服务器在某些地点不可达，那么邮件也有接受不到的风险。
      而且，虽然自建邮件服务器可以发送邮件，但是很多邮件服务提供商（如 Gmail）可能将这些邮件标记为垃圾邮件。
    </p>
    <p>
      而 Cloudflare 有一个很实用的邮件路由功能，可以让我们创建自定义的电子邮件域名用于接受邮件（相当于邮件别名）。我觉得它的精妙之处在于 Cloudflare 遍布世界的可靠服务。
      使用它的邮件路由功能自定义的邮箱域名可用性是非常高的。我们可以将邮件转发到 Gmail, Outlook, iCloud 等可靠的邮件提供商。
    </p>
    <p>
      具体的操作方法请参考 <a href="https://developers.cloudflare.com/email-routing/">Cloudflare 关于电子邮件路由的文档</a>。
    </p>
  </section>
</div>
{% endblock content %}