{{ if (not (isset .Site.Params "comments")) }}
  {{ .Scratch.Set "enable_comments" false }}
{{ else if (isset .Params "comments") }}
  {{ .Scratch.Set "enable_comments" .Params.comments }}
{{ else if (isset .Site.Params.Comments "enabled") }}
  {{ .Scratch.Set "enable_comments" .Site.Params.Comments.Enabled }}
{{ else }}
  {{ .Scratch.Set "enable_comments" true }}
{{ end }}

{{ $enable_comments := .Scratch.Get "enable_comments" }}
{{ if $enable_comments }}
  {{ if (or (not (isset .Site.Params.Comments "engine")) (eq .Site.Params.Comments.Engine "disqus")) }}
    <div noprint class="blog-post-comments">
        <div id="disqus_thread" style="min-height: 20px;">
          <script type="text/javascript">

          (function () {
              // Don't ever inject Disqus on localhost--it creates unwanted
              // discussions from 'localhost:1313' on your Disqus account...
              if (window.location.hostname == "localhost")
                return;
              var disqus =
                (function () {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  var disqus_shortname = '{{ if .Site.DisqusShortname }}{{ .Site.DisqusShortname }}{{ else }}{{ .Site.Title }}{{ end }}';
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                });
              if ("IntersectionObserver" in window) {
                var disqus_observer = new IntersectionObserver(function (entries) {
                  // comments section reached
                  // start loading Disqus now
                  if (entries[0].isIntersecting) {
                    disqus();
                    disqus_observer.disconnect();
                  }
                }, { threshold: [0.8] });
                disqus_observer.observe(document.querySelector("#disqus_thread"));
              } else {
                disqus();
              }
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </div>

  {{ end }}
{{ end }}