<footer id="footer">
  <div class="footer-left">
    <p class="powered-by footer-license-icons">
      <a href="https://creativecommons.org/licenses/by-sa/4.0" rel="noopener noreferrer" target="_blank" aria-label="Creative Commons">
        <i class="fab fa-creative-commons fa-2x fa-fw"></i><i class="fab fa-creative-commons-by fa-2x fa-fw"></i><i class="fab fa-creative-commons-sa fa-2x fa-fw"></i>
      </a>
    </p>
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</footer>
