<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      onerror="this.onerror=null; this.href={{ "lib/font-awesome/css/all.min.css" | relURL }};" />
<script 
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      onerror="this.onerror=null; this.src={{ "lib/jquery/jquery.min.js" | relURL }}"></script>