{% extends "post.html" %}
{% block title %}How To Have A Personalized (Receive-Only) Email Domain{% endblock title %}
{% block header %}
<header>
  <h1><a href=".">How To Have A Personalized (Receive-Only) Email Domain</a></h1>
  <h2 class="light-header">Useless But Fun Series 1</h2>
</header>
{% endblock header %}
{% block content %}
<div class="main-body">
  <p>
    I often use the email address <code>&lt;waterlens at waterlens.moe&gt;</code> for communication and registry on 
    miscellaneous websites. This article is to tell you how to obtain a similar personalized email domain.
  </p>
  <section>
    <h2 id="obtain-a-domain-name"><a href="#obtain-a-domain-name">Obtain A Domain Name</a></h2>
    <p>Firstly, you need to obtain a domain name, which is the only thing you need to spend money on in this article. I only tried Namesilo and Cloudflare.
       I suggest to use Cloudflare because their websites are really tidy and their domains are cheap too.
    </p>
  </section>
  <section>
    <h2 id="modify-nameservers-of-the-domain-name"><a href="#modify-nameservers-of-the-domain-name">Modify Nameservers of the Domain Name</a></h2>
    <p>This article requires you to modify the nameservers of your domain name after your purchase, no matter which domain service provider you choose.
       They should be modified to use nameservers provided by Cloudflare because we're going to use its service. So, we should ensure that:</p>
    <ul>
      <li>Add your domain name to your Cloudflare account</li>
      <li>Change the name servers (DNS servers) of the domain name you just purchased to the two provided by Cloudflare in the domain name provider's management panel.
        (e.g. <code>&lt;dexter.ns.cloudflare.com&gt;</code> and <code>&lt;fatima.ns.cloudflare.com&gt;</code>)
      </li>
    </ul>
  </section>
  <section>
    <h2 id="email-routing"><a href="#email-routing">Email Routing</a></h2>
    <p>
      It's surely possible to build a mail server directly with a self-purchased domain name and a self-purchased server. But there are many problems with this approach.
      If your server stops working, your mail service will be interrupted. If your server is unreachable in some places, your mail will not be received.
      Moreover, although self-built mail servers can be used to send emails, many mail service providers (such as Gmail) may mark these emails as spam.
    </p>
    <p>
      Well, Cloudflare has a very useful feature called email routing, which allows us to create custom email domains for receiving emails (similar to email aliases).
      I think the beauty of it is Cloudflare's reliable service around the world. The custom email domain created using its email routing feature is very reliable.
      We can forward emails to reliable mail providers such as Gmail, Outlook, and iCloud.
    </p>
    <p>
      The details of the operation please refer to <a href="https://developers.cloudflare.com/email-routing/">Cloudflare's documentation on email routing</a>.
    </p>
  </section>
</div>
{% endblock content %}